# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
backend/.env
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Docker volumes
postgres_data/
minio_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
